<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <title>Commande service</title>
    </head>

    <body>
        
        <main id="app">
            <section class="items">
                <h4>Sélectionner votre choix</h4>

                <div :class="{'product': !product.active,  'product selected': product.active}" v-for="product in products">
                    <div @click="addOrRemoveProduct(product)" class="photo">
                        <img :src="product.photo">
                    </div>
                    <div class="description">
                        <span class="name">{{product.name}}</span>
                        <span class="price">$ {{product.price}}</span>
                        <div class="quantity-area">
                            <button 
                            :disabled="product.quantity === 1" 
                            @click.stop="product.quantity--"
                            >
                            -
                            </button>
                            <span class="quantity">{{product.quantity}}</span>
                            <button 
                            @click.stop="product.quantity++"
                            >
                            +
                            </button>
                        </div>
                    </div>
                </div>

            </section>

            <section class="summary">
                <strong>Commande Details</strong>
                <table>
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="productChoices.length === 0">
                            <td>Aucun produit choisi</td>
                        </tr>
                        <tr v-for="productChoice in productChoices">
                            <td>{{productChoice.quantity}}x {{ productChoice.name }}</td>
                            <td>{{ totalPriceProductChoice(productChoice) }}</td>
                        </tr>
                        
                        <tr>
                            <th>Total</th>
                            <th>{{totalPurchase()}}</th>
                        </tr>
                    </tbody>
                </table>
            </section>

        </main>

        <script src="https://unpkg.com/vue@3"></script>
        <script src="scripts.js"></script>
    </body>

</html>